.ProcessWrapper {
    background: #F9F9FD;
    padding: 80px 0;
}

.blueDot {
    width: 24px;
    height: 24px;
    background: #272829;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
}

.processCard .blueDot::before {
    content: '';
    background: url(../../../images/horizontal-line.svg);
    position: absolute;
    width: 218px;
    height: 1px;
    top: 12px;
    left: 30px;

}
.processCard .blueDot::before:last-child{
    display: none;
} 