.formFieldWrapper input {
    background: #fff;
    outline: none;
    height: 56px;
    border-radius: 8px;
    border: 1px;
    padding: 16px 14px;
    font-size: 16px;
    border: 1px solid #D3D3D366
}

.formFieldWrapper input::placeholder {
    color: #9A9CA5;
    box-shadow: 0px 4px 10px 0px #6C6C6C0D;
    font-weight: 400;
    font-size: 16px;
}